{"openapi":"3.1.0","info":{"title":"CurricuLLM API","description":"OpenAI-compatible Chat Completions API optimized for educational content generation and pedagogical applications. Supports streaming responses, function calling, and structured outputs.","version":"1.1.0","contact":{"name":"API Support","email":"helpdesk@curricullm.com"}},"servers":[{"url":"https://api.curricullm.com","description":"Production Server"}],"paths":{"/v1/chat/completions":{"post":{"summary":"Create chat completion","description":"Creates a model response for the given chat conversation. This endpoint supports both streaming and non-streaming responses.","operationId":"createChatCompletion","tags":["Chat"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatCompletionRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChatCompletionResponse"}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/CreateChatCompletionStreamResponse"}}}},"400":{"description":"Bad request - Invalid parameters or malformed request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized - Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limited - Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"CreateChatCompletionRequest":{"type":"object","required":["model","messages"],"properties":{"model":{"type":"string","description":"ID of the model to use. Available models: CurricuLLM-AU, CurricuLLM-AU-VIC, CurricuLLM-AU-WA, CurricuLLM-NZ","enum":["CurricuLLM-AU","CurricuLLM-AU-VIC","CurricuLLM-AU-WA","CurricuLLM-NZ"],"example":"CurricuLLM-AU"},"messages":{"type":"array","description":"A list of messages comprising the conversation so far","items":{"$ref":"#/components/schemas/ChatCompletionRequestMessage"},"minItems":1},"stream":{"type":"boolean","description":"If set, partial message deltas will be sent","default":false},"temperature":{"type":"number","description":"What sampling temperature to use, between 0 and 2","minimum":0,"maximum":2,"default":1},"top_p":{"type":"number","description":"An alternative to sampling with temperature, called nucleus sampling","minimum":0,"maximum":1,"default":1},"max_tokens":{"type":"integer","description":"The maximum number of tokens to generate","minimum":1},"presence_penalty":{"type":"number","description":"Number between -2.0 and 2.0. Positive values penalize new tokens","minimum":-2,"maximum":2,"default":0},"frequency_penalty":{"type":"number","description":"Number between -2.0 and 2.0. Positive values penalize tokens","minimum":-2,"maximum":2,"default":0},"response_format":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["text"],"default":"text"}}},{"type":"object","properties":{"type":{"type":"string","enum":["json_object"]},"json_schema":{"type":"object","description":"JSON Schema for the response structure"}},"required":["type"]}],"description":"An object specifying the format that the model must output"},"tools":{"type":"array","description":"A list of tools the model may call","items":{"$ref":"#/components/schemas/ChatCompletionTool"}},"tool_choice":{"oneOf":[{"type":"string","enum":["none","auto","required"]},{"type":"object","properties":{"type":{"type":"string","enum":["function"]},"function":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}},"required":["type","function"]}],"description":"Controls which (if any) function is called by the model"},"curriculum":{"type":"object","description":"Curriculum context for educational responses","properties":{"stage":{"type":"string","description":"Educational stage (e.g., 'Stage 3', 'Stage 4')"},"subject":{"type":"string","description":"Subject area (e.g., 'Mathematics', 'Science')"}}}}},"ChatCompletionRequestMessage":{"oneOf":[{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["user"]},"content":{"type":"string"},"name":{"type":"string"}}},{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["assistant"]},"content":{"type":"string"},"tool_calls":{"type":"array","items":{"$ref":"#/components/schemas/ChatCompletionMessageToolCall"}}}},{"type":"object","required":["role","tool_call_id","content"],"properties":{"role":{"type":"string","enum":["tool"]},"tool_call_id":{"type":"string"},"content":{"type":"string"}}},{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","enum":["system"]},"content":{"type":"string"}}}],"description":"A message in the chat history"},"ChatCompletionMessageToolCall":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the tool call"},"type":{"type":"string","enum":["function"],"description":"The type of the tool call"},"function":{"type":"object","properties":{"name":{"type":"string","description":"The name of the function"},"arguments":{"type":"string","description":"The arguments to the function call, in JSON format"}},"required":["name","arguments"]}},"required":["id","type","function"]},"ChatCompletionTool":{"type":"object","required":["type","function"],"properties":{"type":{"type":"string","enum":["function"],"description":"The type of the tool"},"function":{"type":"object","required":["name","description"],"properties":{"name":{"type":"string","description":"The name of the function"},"description":{"type":"string","description":"A description of the function"},"parameters":{"type":"object","description":"The parameters the function accepts (in JSON schema format)"}}}}},"CreateChatCompletionResponse":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for the chat completion"},"object":{"type":"string","enum":["chat.completion"],"description":"The object type"},"created":{"type":"integer","description":"The Unix timestamp (in seconds) of when the chat completion was created"},"model":{"type":"string","description":"The model used for the completion"},"choices":{"type":"array","items":{"$ref":"#/components/schemas/ChatCompletionChoice"},"description":"A list of chat completion choices"},"usage":{"$ref":"#/components/schemas/CompletionUsage","description":"Usage statistics for the completion"}},"required":["id","object","created","model","choices"]},"CreateChatCompletionStreamResponse":{"type":"object","properties":{"id":{"type":"string"},"object":{"type":"string","enum":["chat.completion.chunk"]},"created":{"type":"integer"},"model":{"type":"string"},"choices":{"type":"array","items":{"$ref":"#/components/schemas/ChatCompletionStreamChoice"}}}},"ChatCompletionChoice":{"type":"object","properties":{"index":{"type":"integer","description":"The index of the choice in the list of choices"},"message":{"$ref":"#/components/schemas/ChatCompletionMessage","description":"A chat completion message"},"finish_reason":{"type":"string","enum":["stop","length","tool_calls","content_filter"],"description":"The reason the model stopped generating tokens"}}},"ChatCompletionStreamChoice":{"type":"object","properties":{"index":{"type":"integer"},"delta":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":"string"},"tool_calls":{"type":"array","items":{"$ref":"#/components/schemas/ChatCompletionMessageToolCall"}}}},"finish_reason":{"type":"string","enum":["stop","length","tool_calls","content_filter",null]}}},"ChatCompletionMessage":{"type":"object","properties":{"role":{"type":"string","enum":["assistant"]},"content":{"type":"string"},"tool_calls":{"type":"array","items":{"$ref":"#/components/schemas/ChatCompletionMessageToolCall"}}}},"CompletionUsage":{"type":"object","required":["prompt_tokens","completion_tokens","total_tokens"],"properties":{"prompt_tokens":{"type":"integer","description":"Number of tokens in the prompt"},"completion_tokens":{"type":"integer","description":"Number of tokens in the completion"},"total_tokens":{"type":"integer","description":"Total number of tokens used in the request"},"run_id":{"type":"string","format":"uuid","description":"Unique identifier for this request run, used for tracking and analytics"}}},"ErrorResponse":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["message","type"],"properties":{"message":{"type":"string","description":"A human-readable error message"},"type":{"type":"string","description":"The type of error"},"param":{"type":"string","description":"The parameter that caused the error, if applicable"},"code":{"type":"string","description":"The error code"}}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"API key as Bearer token"}}},"tags":[{"name":"Chat","description":"Chat completion endpoints"}]}